---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to the Blog">
	{/* This div is a container for welcome message.
	*/}
	<div class="text-center py-20">
		<h1 class="text-5xl font-bold tracking-tight">Welcome to the Blog</h1>
		<p class="mt-4 text-xl text-gray-600">This is the future home of an amazing blog.</p>

		<div class="mt-8">
			<a href="/blog" class="bg-purple-600 text-white font-bold py-3 px-6 rounded-lg hover:bg-purple-700">
				See the Posts
			</a>
		</div>
	</div>
</Layout>
